.navbar {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
  .logo img{
      height: 200px;
      width: 200px;

      padding-bottom: 30px;
  }

  .menu {
    max-width: 750px;
    background-color: $green;
    border-radius: max(0px, min(15px, calc((100vw - 4px - 100%) * 9999)));
    margin-top: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
    a {
      color: white;
      text-decoration: none;
      align-items: center;
      font-weight: bold;
    }
    
    .menuItem {
      list-style-type: none;
      font-size: 17px;
      padding: 15px;
      border-radius: 25%;
      position: relative;
      transition: 0.6s;

      &:hover {
        cursor: pointer;
        filter: brightness(1.2);
      }

      &:hover a {
        transition-timing-function: ease;
        transition-duration: 0.6s;
        font-size: 18px;
        color: $brown;
      }
    }
  }
}
      
/* display none for Mobile only*/
.menuIcon {
  display: none;
}


@media screen and (max-width: 478px) {
  /*bigscreen hide menu items*/
  .navbar {
    .menu{
      .menuItem {
        display: none;
      }
      
      /*small screen config*/
      .menuIcon {
        display: flex;
        flex-direction: column;
        fill: $brown;
        position: absolute;
        transition: transform 3s ease;
        svg{
          margin: auto;
          width: 30px;
        }
        .menuIcon .clicked > svg {
          transition: transform 3s ease;
        }

        .subMenu {    
          z-index: 999;
          list-style-type: none;
          flex-direction: column;
          position: relative;
          background-color: $yellow;
          font-size: 16px;
          border-radius: 25px;
          li {
            padding: 15px;
            margin: 10px;
            a{
              font-weight: 530;
              color: $brown;
            }
          }
        }
      }
    }
  }
}