.navbar {
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 40px;
}
.navbar .logo img {
  height: 200px;
  width: 200px;
  padding-bottom: 30px;
}
.navbar .menu {
  max-width: 750px;
  background-color: #02CC02;
  border-radius: max(0px, min(15px, (100vw - 4px - 100%) * 9999));
  margin-top: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
.navbar .menu a {
  color: white;
  text-decoration: none;
  align-items: center;
  font-weight: bold;
}
.navbar .menu .menuItem {
  list-style-type: none;
  font-size: 17px;
  padding: 15px;
  border-radius: 25%;
  position: relative;
  transition: 0.6s;
}
.navbar .menu .menuItem svg {
  fill: white;
  width: 12px;
}
.navbar .menu .menuItem svg:hover {
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.navbar .menu .menuItem:hover {
  cursor: pointer;
  filter: brightness(1.2);
}
.navbar .menu .menuItem:hover a {
  transition-timing-function: ease;
  transition-duration: 0.6s;
  font-size: 18px;
}

/* display none for Mobile only*/
.menuIcon {
  display: none;
}

@media screen and (max-width: 478px) {
  /*bigscreen hide menu items*/
  .navbar .menu {
    /*small screen config*/
  }
  .navbar .menu .menuItem {
    display: none;
  }
  .navbar .menu .menuIcon {
    display: flex;
    flex-direction: column;
    fill: #573621;
    position: absolute;
  }
  .navbar .menu .menuIcon svg {
    margin: auto;
    width: 30px;
  }
  .navbar .menu .menuIcon .subMenu {
    z-index: 999;
    list-style-type: none;
    flex-direction: column;
    position: relative;
    background-color: #FEFE00;
    font-size: 16px;
    border-radius: 25px;
  }
  .navbar .menu .menuIcon .subMenu li {
    padding: 15px;
    margin: 10px;
  }
  .navbar .menu .menuIcon .subMenu li a {
    font-weight: 530;
    color: #573621;
  }
}
body {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  text-align: center;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.home {
  margin: auto;
  max-width: 1080px;
  height: 70vh;
}

.location {
  margin: auto;
  max-width: 1080px;
  height: 70vh;
}
.location .frame {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 3%;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.contact {
  margin: auto;
  max-width: 1080px;
  height: 70vh;
}
.contact .contactForm {
  max-width: 600px;
  margin: auto;
  border-radius: 50px;
  color: #573621;
}
.contact .contactForm p {
  font-weight: bold;
}
.contact .contactForm form {
  padding: 15px;
  margin: auto;
  color: #573621;
}
.contact .contactForm form .object {
  margin: 15px;
}
.contact .contactForm form .object label {
  margin: 10px;
  display: block;
  font-weight: bold;
}
.contact .contactForm form .object input, .contact .contactForm form .object textarea {
  min-width: 80%;
  outline: none;
  resize: none;
  border: none;
  border-radius: 10px;
  background-color: #573621;
  color: #FEFE00;
  line-height: normal;
  margin: auto;
  text-align: center;
}
.contact .contactForm form .object input:focus, .contact .contactForm form .object textarea:focus {
  border-bottom: 1px solid black;
  filter: brightness(1.2);
}
.contact .contactForm form .fileUploadIcon {
  max-width: 200px;
  margin: auto;
}
.contact .contactForm form .fileUploadIcon label {
  color: white;
  display: block;
}
.contact .contactForm form .fileUploadIcon svg {
  fill: #573621;
  width: 80px;
  margin-top: 15px;
  margin: 10px 0px 15px 0px;
}
.contact .contactForm form .fileUploadIcon svg:hover {
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.contact .contactForm form button {
  width: 30%;
  max-width: 200px;
  background-color: #02CC02;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #02CC02;
  color: white;
  position: absolute;
  margin-top: 30px;
  padding-top: 30px;
}
.footer .socialMedia {
  position: relative;
  display: flex;
  justify-content: center;
}
.footer .socialMedia li {
  list-style: none;
  margin: 7px;
  border-radius: 50%;
}
.footer .socialMedia li:hover {
  filter: brightness(0.9);
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer .socialMedia li svg {
  fill: white;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 10px;
}
.footer .socialMedia li svg:hover {
  cursor: pointer;
  transition-timing-function: ease;
  transition-duration: 0.6s;
}
.footer p {
  font-size: 17px;
}/*# sourceMappingURL=styles.css.map */